@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Imagink</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Shared/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CreatorsPlatform.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom mb-3 py-0">
            <div class="container">
                @* 網站商標 *@
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img id="MainIcon" src="~/img/Shared/MainIconEx.jpg" /></a>
                @* 網站名稱 *@
                @* <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><h2 class="mb-0">Imagink</h2></a> *@

                @* 響應式的菜單按鈕 *@
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                @* 響應式摺疊部分 *@
                <div class="navbar-collapse navbar-right collapse d-flex justify-content-between ms-4">
                    <form class="d-flex" style="position: relative;">
                        <input class="form-control SearchFormInput" type="search" placeholder="搜尋作品/創作者/標籤" aria-label="Search">
                        <button class="SearchFormBtn" type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                            </svg>
                        </button>
                    </form>
                    <ul class="navbar-nav NavSection">
                        <li class="nav-item" id="MemberSection">
                            @* 如果登入 *@
                             @if (1 == 2)
                            {
                                <a href="#" class="MemberDropdown">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
                                    </svg>
                                </a>
                                <ul class="d-grid gap-1 MemberDropdownList">
                                    <li><a class="text-start p-2" href="#">訂閱中的方案</a></li>
                                    <li><a class="text-start p-2" href="#">會員設定</a></li>
                                    <li><a class="text-start p-2" href="#">登出</a></li>
                                </ul>
                            }
                            @* 如果未登入 *@
                            else
                            {
                            <a href="#" class="MemberDropdown">
                                <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
                                </svg>
                            </a>
                             <ul class="MemberDropdownList">
                                <li><a class="p-1" href="#">登入 / 註冊</a></li>
                            </ul>
                            }
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-5">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container py-2 FooterContainer">
            <div class="d-flex">
                <div class="me-3">
                    &copy; 2024 - CreatorsPlatform - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
                <div class="me-3"><a href="#">聯絡我們</a></div>
                <div class="me-3"><a href="#">隱私政策</a></div>
                <div>
                    社群媒體:
                    <a href="#">
                        <img class="SocialIcon" src="~/img/Shared/facebook_icon.png" alt="Facebook" />
                    </a>
                    <a href="#">
                        <img class="SocialIcon" src="~/img/Shared/instagram_icon.png" alt="Instagram" />
                    </a>
                    <a href="#">
                        <img class="SocialIcon" src="~/img/Shared/X_icon.png" alt="X" />
                    </a>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/Shared/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
