@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pixtia</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Shared/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CreatorsPlatform.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 NavSection">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img id="MainIcon" src="~/img/MainIconEx.jpg" /></a>
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><h2 class="mb-0">Imagink</h2></a>

                @* 響應式的菜單按鈕 *@
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                @* 響應式摺疊部分 *@
                <div class="navbar-collapse navbar-right collapse d-sm-inline-flex justify-content-between ms-4">
                    @* 原本放在導覽部分的網站全名(改去跟商標一起) *@
                    @* <ul class="navbar-nav">
                    <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><h2 class="mb-0">Imagink</h2></a>
                    </li>
                    </ul> *@
                    <form class="d-flex">
                        <input class="form-control SearchFormInput" type="search" placeholder="搜尋作品/創作者/標籤" aria-label="Search">
                        <button class="btn btn-outline-success SearchFormBtn" type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                            </svg>
                        </button>
                    </form>
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <link rel="stylesheet" href="~/css/_MemberPartial.css" defer />
                            @* 如果已登入顯示會員資訊 *@
                            @if (!string.IsNullOrEmpty(Accessor.HttpContext.Session.GetString("UserId")))
                            {
                                <div id="會員資訊" style="height:100%;">
                                    <p>您的暱稱: @Accessor.HttpContext.Session.GetString("UserName")</p>
                                </div>
                            }
                            @* 如果還沒登入顯示登入頁面 *@
                            else
                            {
                                <div id="登入登出" style="height:100%;">
                                    <form asp-controller="Member" asp-action="Login">
                                        <input name="UserName" />
                                        <button type="submit">登入</button>
                                    </form>
                                    <a asp-controller="Member" asp-action="Signup">註冊</a>
                                </div>
                                @*導覽列註冊登入彈出視窗備案>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>開始*@
                                @*<div id="container">
                            <a id="member">會員</a>
                            <div id="entrance">
                            <a id="loginBtn">登入</a>
                            <a id="RegisterBtn">註冊</a>
                            <form id="LoginForm">
                            <input type="type" name="Email" value="" placeholder="電子郵件" />
                            <input type="type" name="Password" value="" placeholder="密碼" />
                            <a type="" name="name" value="">登入</a>
                            </form>
                            <form id="RegisterForm">
                            <input type="type" name="Email" value="" placeholder="電子郵件" />
                            <input type="type" name="Password" value="" placeholder="密碼" />
                            <input type="type" name="Re-Enter-Password" value="" placeholder="確認密碼" />
                            <a type="" name="name" value="">註冊</a>
                            </form>
                            </div>
                            </div>
                            *@
                                @*導覽列註冊登入彈出視窗備案>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>結束*@
                            }

                            <script src="~/js/_MemberPartial.js" defer></script>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <div class="d-flex">
                <div class="me-3">
                    &copy; 2024 - CreatorsPlatform - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
                <div class="me-3"><a href="#">聯絡我們</a></div>
                <div class="me-3"><a href="#">隱私政策</a></div>
                <div>
                    社群媒體:
                    <a href="#">
                        <img class="SocialIcon" src="~/img/Shared/facebook_icon.png" alt="Facebook" />
                    </a>
                    <a href="#">
                        <img class="SocialIcon" src="~/img/Shared/instagram_icon.png" alt="Instagram" />
                    </a>
                    <a href="#">
                        <img class="SocialIcon" src="~/img/Shared/X_icon.png" alt="X" />
                    </a>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/Shared/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
