<link rel="stylesheet" href="~/css/_MemberPartial.css" defer />
@* 如果已登入顯示會員資訊 *@
@if (1 == 2)
{
    <div id="container">
        <a id="member">會員</a>
        <div id="entrance">
            <p>會員資訊</p>
        </div>
    </div>
}
@* 如果還沒登入顯示登入頁面 *@
else
{
    <div id="container">
        <a id="member">會員</a>
        <div id="entrance">
            <a id="loginBtn">登入</a>
            <a id="RegisterBtn">註冊</a>
            <form id="LoginForm">
                <input type="type" name="Email" value="" placeholder="電子郵件" />
                <input type="type" name="Password" value="" placeholder="密碼" />
                <a type="" name="name" value="">登入</a>
            </form>
            <form id="RegisterForm">
                <input type="type" name="Email" value="" placeholder="電子郵件" />
                <input type="type" name="Password" value="" placeholder="密碼" />
                <input type="type" name="Re-Enter-Password" value="" placeholder="確認密碼" />
                <a type="" name="name" value="">註冊</a>
            </form>
        </div>
    </div>
    

    @* <div id="switchPanel">

    </div> *@
}

<script src="~/js/_MemberPartial.js" defer></script>