

#Toggle {
    word-wrap: break-word;
}
#Main {
   
}
#Sidebar {
}
.UserIcon{
    max-height:20vh;
    max-width:75%;
}
.WorkHigh {
    max-width: 65vh;
}
.ToMiddle {
    display: flex;
    justify-content: center;
    align-items: center;
}
. JustifyMiddle {
    display: flex;
    justify-content: center;
}
#SmallTour {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    height:5vh;
}

