<!-- Banner -->
<div class="text-center" id="banner">
    <img class="img-fluid" src="https://fakeimg.pl/1620x580/" alt="">
</div>
<!-- Creator介紹 -->
<div class="container">
    <div class="row">
        <div class="col-1">
            <img id="avatar" class="rounded-circle" src="https://fakeimg.pl/100/" alt="">
        </div>
        <div class="col-11">
            <div class="row">
                <div class="col">
                    <h4>創作者名稱</h4>
                </div>
                <!-- Force next columns to break to new line -->
                <div class="w-100"></div>
                <div class="col">
                    <h6>放外部連結</h6>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 頁籤 1. 作品 2. 訂閱 3. 委託 -->
<nav>
    <div class="container nav nav-tabs">
        @* <ul> *@
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">個人資料</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">作品</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">訂閱</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">委託</a>
            </li>
        @* </ul> *@
    </div>
</nav>
<!-- 內容Container with 3 Cards in 1 row -->
<div class="card-container container">
    <div class="card-deck row p-3">
        <div class="col-4">
        <div class="card">
            <img
            class="card-img-top"
            src="https://fakeimg.pl/500/"
            alt="Card image cap"
            @* style="max-height: 12rem; object-fit: cover" *@
            />
            <div class="card-body"
            @* style="height: 10rem" *@
            >
            <h5 class="card-title">作品標題</h5>
            <p class="card-text">
                作品簡述
            </p>
            </div>
        </div>
        </div>
        <div class="col-4">
            <div class="card">
                <img class="card-img-top"
                     src="https://fakeimg.pl/500/"
                     alt="Card image cap"
                @* style="max-height: 12rem; object-fit: cover" *@ />
                <div class="card-body"
                @* style="height: 10rem" *@>
                    <h5 class="card-title">作品標題</h5>
                    <p class="card-text">
                        作品簡述
                    </p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <img class="card-img-top"
                     src="https://fakeimg.pl/500/"
                     alt="Card image cap"
                @* style="max-height: 12rem; object-fit: cover" *@ />
                <div class="card-body"
                @* style="height: 10rem" *@>
                    <h5 class="card-title">作品標題</h5>
                    <p class="card-text">
                        作品簡述
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 內容Container with 4 Cards in 1 row -->
<div class="card-container container">
    <div class="card-deck row p-3">
        <div class="col-3">
            <div class="card">
                <img class="card-img-top"
                     src="https://fakeimg.pl/500/"
                     alt="Card image cap"
                @* style="max-height: 12rem; object-fit: cover" *@ />
                <div class="card-body"
                @* style="height: 10rem" *@>
                    <h5 class="card-title">作品標題</h5>
                    <p class="card-text">
                        作品簡述
                    </p>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <img class="card-img-top"
                     src="https://fakeimg.pl/500/"
                     alt="Card image cap"
                @* style="max-height: 12rem; object-fit: cover" *@ />
                <div class="card-body"
                @* style="height: 10rem" *@>
                    <h5 class="card-title">作品標題</h5>
                    <p class="card-text">
                        作品簡述
                    </p>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <img class="card-img-top"
                     src="https://fakeimg.pl/500/"
                     alt="Card image cap"
                @* style="max-height: 12rem; object-fit: cover" *@ />
                <div class="card-body"
                @* style="height: 10rem" *@>
                    <h5 class="card-title">作品標題</h5>
                    <p class="card-text">
                        作品簡述
                    </p>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <img class="card-img-top"
                     src="https://fakeimg.pl/500/"
                     alt="Card image cap"
                @* style="max-height: 12rem; object-fit: cover" *@ />
                <div class="card-body"
                @* style="height: 10rem" *@>
                    <h5 class="card-title">作品標題</h5>
                    <p class="card-text">
                        作品簡述
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
