<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<style>
    ul {
        flex-direction: column;
    }
</style>

<div style="display:flex;flex-direction:row;">
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#basic" aria-selected="true">基本</button>
        </li>
        <li class="nav-item">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#security" aria-selected="false">安全</button>
        </li>
        <li class="nav-item">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#social" aria-selected="false">社交</button>
        </li>
        <li class="nav-item">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#privacy" aria-selected="false">隱私</button>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane fade show active" id="basic">
            <div class="card">基本</div>
        </div>
        <div class="tab-pane fade" id="security">

            <!--修改電子信箱開始-->
            <div class="card">
                <div class="card-body py-5 px-md-5">
                    <form id="ChangeEmail" method="post" action="Member/ChangeEmail">
                        <span>
                            <div class="form-outline mb-4">
                                <p>新電子信箱</p>
                                <input type="email" id="Name" class="form-control" name="Email" />
                                <label class="form-label" for="Name"></label>
                            </div>
                            <div class="form-outline mb-4">
                                <p>密碼</p>
                                <input type="password" id="Password" class="form-control" name="Password" />
                                <label class="form-label" for="Password"></label>
                            </div>
                        </span>
                        <button type="submit" class="btn btn-primary btn-block mb-4">
                            更改電子信箱
                        </button>
                    </form>
                </div>
            </div>
            <!--修改電子信箱結束-->
            <!--修改暱稱開始-->
            <div class="card">
                <div class="card-body py-5 px-md-5">
                    <form id="ChangeNameForm" method="post" action="Member/ChangeName">
                        <div class="form-outline mb-4">
                            <p>新暱稱</p>
                            <input type="email" id="Name" class="form-control" name="Name" />
                            <label class="form-label" for="Name"></label>
                        </div>
                        <div class="form-outline mb-4">
                            <p>密碼</p>
                            <input type="password" id="Password" class="form-control" name="Password" />
                            <label class="form-label" for="Password"></label>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block mb-4">
                            更改暱稱
                        </button>
                    </form>
                </div>
            </div>
            <!--修改暱稱結束-->
            <!--修改密碼開始-->
            <div class="card">
                <div class="card-body py-5 px-md-5">
                    <form id="ChangePasswordForm" method="post" action="Member/ChangePassword">
                        <div class="form-outline mb-4">
                            <p>請輸入舊密碼</p>
                            <input type="email" id="OldPassword" class="form-control" name="OldPassword" />
                            <label class="form-label" for="OldPassword"></label>
                        </div>
                        <div class="form-outline mb-4">
                            <p>新密碼</p>
                            <input type="password" id="NewPassword" class="form-control" name="NewPassword" />
                            <label class="form-label" for="NewPassword"></label>
                        </div>
                        <div class="form-outline mb-4">
                            <p>確認新密碼</p>
                            <input type="password" id="ReNewPassword" class="form-control" name="ReNewPassword" />
                            <label class="form-label" for="ReNewPassword"></label>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block mb-4">
                            更改密碼
                        </button>
                    </form>
                </div>
            </div>
            <!--修改密碼結束-->
        </div>
        <div class="tab-pane fade" id="social">
            社交
        </div>
        <div class="tab-pane fade" id="privacy">
            隱私
        </div>
    </div>
</div>
