<style>
    #UserInfoContainer{
        display: flex;
        flex-direction:row;
    }
</style>





<div id="UserInfoContainer">
    <div>
        <p>設定</p>
        <p>訂閱</p>
    </div>

    <div>
        此頁是個人頁面
    </div>
</div>
