<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Member/Individual.css">
<style>
    ul {
        flex-direction: column;
    }

    .tab-content {
        position: absolute;
        right: 10rem;
        width: 75%;
    }

    button.active {
        background-color: blue;
    }
</style>

<div style="">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#basic" aria-selected="true">基本</button>
        </li>
        <li class="nav-item">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#security" aria-selected="false">安全</button>
        </li>
        <li class="nav-item">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#social" aria-selected="false">社交</button>
        </li>
        <li class="nav-item">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#privacy" aria-selected="false">隱私</button>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane fade show active" id="basic">
            <h5>基本設定</h5>
            <hr>
            <form>
                <div class="form-group">
                    <label class="d-block">更改頭像</label>
                    <div>
                        <img id="Avatar">
                        <canvas id="Preview" width="256" height="256"></canvas>
                    </div>
                    <input type="file" id="ChooseImage" class="form-control mt-1">
                    <input type="password" class="form-control mt-1" placeholder="輸入密碼">
                    <button class="btn btn-info" type="submit">更改暱稱</button>
                </div>
            </form>
            <form>
                <div class="form-group">
                    <label class="d-block">更改信箱</label>
                    <input type="text" class="form-control mt-1" placeholder="輸入新信箱">
                    <input type="text" class="form-control mt-1" placeholder="輸入密碼">
                    <button class="btn btn-info" type="submit">更改信箱</button>
                </div>
            </form>
            <form>
                <div class="form-group">
                    <label class="d-block">更改暱稱</label>
                    <input type="text" class="form-control mt-1" placeholder="輸入新暱稱">
                    <input type="text" class="form-control mt-1" placeholder="輸入密碼">
                    <button class="btn btn-info" type="submit">更改暱稱</button>
                </div>
            </form>
        </div>
        <div class="tab-pane fade" id="security">
            <h5>安全設定</h5>
            <hr>
            <form>
                <div class="form-group">
                    <label class="d-block">更改密碼</label>
                    <input type="text" class="form-control" placeholder="輸入舊密碼">
                    <input type="text" class="form-control mt-1" placeholder="輸入新密碼">
                    <input type="text" class="form-control mt-1" placeholder="請再次輸入新密碼">
                    <button class="btn btn-info" type="submit">確認更改密碼</button>
                </div>
            </form>
            <hr>
            <form>
                <div class="form-group">
                    <label class="d-block">信箱驗證</label>
                    <button class="btn btn-success" type="button">進行信箱驗證</button>
                    <p class="small text-muted mt-2">你還沒驗證信箱!</p>
                </div>
            </form>
        </div>
        <div class="tab-pane fade" id="social">
            <h5>社交設定</h5>
            <hr>
            <form>
                <div class="form-group">
                    <label class="d-block">誰可以給你發交友邀請?</label>
                    <input type="checkbox">陌生人
                    <input type="checkbox">男女友/小三
                    <input type="checkbox">你的粉絲...
                    <input type="text" class="form-control mt-1" placeholder="輸入密碼">
                    <button class="btn btn-warning" type="submit">確認誰可以給我交友邀請</button>
                </div>
            </form>
        </div>
        <div class="tab-pane fade" id="privacy">
            <h5>隱私設定</h5>
            <hr>
            <form>
                <div class="form-group">
                    <label class="d-block">更改曝光度</label>
                    <input type="checkbox">我要給隔壁老王看
                    <input type="text" class="form-control mt-1" placeholder="輸入密碼">
                    <button class="btn btn-danger" type="submit">確認曝光度</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/Member/Individual.js"></script>