
<style>
    ul {
        flex-direction: column;
    }

    label {
        color: red;
    }
</style>

<section class="">
    <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
        <div class="container">
            <div class="row gx-lg-5 align-items-center">
                <!--註冊資訊填寫區塊-->
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <div class="card">
                        <div class="card-body py-5 px-md-5">
                            <form id="LoginForm" asp-action="Login" asp-controller="Member" method="post">
                                <div class="form-outline mb-4">
                                    <p>電子信箱</p>
                                    <input name="Email" type="email" id="Email" class="form-control form-control-lg" />
                                    <label class="form-label" for="Email"></label>
                                </div>

                                <div class="form-outline mb-4">
                                    <p>密碼</p>
                                    <input name="Password" type="password" id="Password" class="form-control form-control-lg" />
                                    <label class="form-label" for="Password"></label>
                                </div>

                                <!-- Checkbox -->
                                <div class="form-check d-flex justify-content-start mb-4">
                                    <input class="form-check-input" type="checkbox" value="" id="form1Example3" />
                                    <span class="form-check-label" for="form1Example3"> Remember password </span>
                                </div>

                                <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    window.onload = () => {
        $().ready(function () {
            $("#LoginForm").validate({
                submitHandler: function (form) {
                    form.submit();
                },
                //debug: true,
                rules: {
                    Email: {
                        required: true,
                    },
                    Password: {
                        required: true,
                    },
                },
                messages: {
                    Email: {
                        required: "請輸入合法電子信箱",
                        Email: "請輸入合法電子信箱",
                    },
                    Password: {
                        required: "請輸入密碼",
                    },
                }
            })
        });
    }
</script>