
<style>
    label{
        color:red;
    }
</style>

<section class="">
    <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
        <div class="container">
            <div class="row gx-lg-5 align-items-center">
                <!--註冊步驟區塊-->
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <h3 class="my-5 display-4 fw-bold ls-tight">
                        註冊步驟一:填寫個人資訊...未完成...<br />
                    </h3>
                    <h3 class="my-5 display-4 fw-bold ls-tight">
                        註冊步驟二:註冊成功...未完成...<br />
                    </h3>

                </div>
                <!--註冊資訊填寫區塊-->
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <div class="card">
                        <div class="card-body py-5 px-md-5">
                            <form id="SignupForm" method="post" action="Member/Signup">
                                <div class="form-outline mb-4">
                                    <p>電子信箱</p>
                                    <input type="email" id="Email" class="form-control" name="Email" />
                                    <label class="form-label" for="Email"></label>
                                </div>
                                <div class="form-outline mb-4">
                                    <p>密碼</p>
                                    <input type="password" id="Password" class="form-control" name="Password" />
                                    <label class="form-label" for="Password"></label>
                                </div>
                                <div class="form-outline mb-4">
                                    <p>確認密碼</p>
                                    <input type="password" id="RePassword" class="form-control" name="RePassword" />
                                    <label class="form-label" for="RePassword"></label>
                                </div>

                                <!-- Checkbox
                                <div class="form-check d-flex justify-content-center mb-4">
                                    <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />
                                    <label class="form-check-label" for="form2Example33">
                                        Subscribe to our newsletter
                                    </label>
                                </div> -->

                                <button type="submit" class="btn btn-primary btn-block mb-4">
                                    Sign up
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    window.onload = () => {
        $().ready(function () {
            $("#SignupForm").validate({
                submitHandler: function (form) {
                    alert("提交事件!");
                    form.submit();
                },
                //debug: true,
                rules: {
                    Email: {
                        required: true,
                        email: true
                    },
                    Password: {
                        required: true,
                        minlength: 8
                    },
                    RePassword: {
                        required: true,
                        minlength: 8,
                        equalTo: "#Password"
                    },
                },
                messages: {
                    Email: {
                        required: "請輸入合法電子信箱",
                        email: "請輸入合法電子信箱",
                    },
                    Password: {
                        required: "請輸入密碼",
                        minlength: "密碼長度不能小於8個字母"
                    },
                    RePassword: {
                        required: "請輸入密碼",
                        minlength: "密碼長度不能小於8個字母",
                        equalTo: "兩次密碼輸入不一致"
                    },
                }
            })
        });
    }
</script>