@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link href="~/css/Event/EventContent/EventContent.css" rel="stylesheet" />
<div class="row">
    <div class="col-6 d-flex flex-column">
        <h1 class="pb-2">菈尼腳掌的五十種角度</h1>
        <p>2024.03.01(五) ~ 2024.04.19(五)</p>
        <p>發起人：<a href="#">皇帝企鵝三耗子尾之</a></p>
        <img src="~/img/Event/EventContent/InaImg.jpg" alt="Alternate Text" />
        <p>問題的關鍵看似不明確，但想必在諸位心中已有了明確的答案。
            對菈尼腳掌進行深入研究，在現今時代已經無法避免了。
            我們都很清楚，這是個嚴謹的議題。
            經過上述討論，菈尼腳掌的發生，到底需要如何實現，不菈尼腳掌的發生，又會如何產生。
            我們都有個共識，若問題很困難，那就勢必不好解決。
            由於，在這種困難的抉擇下，本人思來想去，寢食難安。
            而這些並不是完全重要，更加重要的問題是，菈尼腳掌對我來說，已經成為了我生活的一部分。
            世界需要改革，需要對菈尼腳掌有新的認知。
            其實，若思緒夠清晰，那麼菈尼腳掌也就不那麼複雜了。</p>
    </div>
    <div class="col-3 d-flex flex-column border border-1 rounded">
        <div>
            @* 參加者頭像與名稱一行 *@
            <div class="EventParticipant pt-2 pb-2 ps-1">
                <a href="#">
                    <img class="me-3" src="~/img/Event/EventContent/MajoImg.jpg" alt="Alternate Text" />
                    <p>監察王蟲</p>
                </a>
            </div>
            <a href="#"><img class="PostImg" src="~/img/Event/EventContent/SuiseiImg.jpg" alt="Alternate Text" /></a>
            <p class="pt-2 ps-1">咕嚕</p>
        </div><div>
            @* 參加者頭像與名稱一行 *@
            <div class="EventParticipant pt-2 pb-2 ps-1">
                <a href="#">
                    <img class="me-3" src="~/img/Event/EventContent/MajoImg.jpg" alt="Alternate Text" />
                    <p>監察王蟲</p>
                </a>
            </div>
            <a href="#"><img class="PostImg" src="~/img/Event/EventContent/SuiseiImg.jpg" alt="Alternate Text" /></a>
            <p class="pt-2 ps-1">咕嚕</p>
        </div><div>
            @* 參加者頭像與名稱一行 *@
            <div class="EventParticipant pt-2 pb-2 ps-1">
                <a href="#">
                    <img class="me-3" src="~/img/Event/EventContent/MajoImg.jpg" alt="Alternate Text" />
                    <p>監察王蟲</p>
                </a>
            </div>
            <a href="#"><img class="PostImg" src="~/img/Event/EventContent/SuiseiImg.jpg" alt="Alternate Text" /></a>
            <p class="pt-2 ps-1">咕嚕</p>
        </div>
    </div>
    <div class="col-3 border border-1 rounded">
        <h3>參加者</h3>
        <a href="#"></a>
    </div>
</div>
