.EventHeaderImg {
    height: 16rem;
    overflow: hidden;
}

    .EventHeaderImg > img {
        width:100%;
        object-fit: cover;
        object-position: center -8rem;
    }

/*參加者頭像*/
.MidSizeHeadShot {
    width: 40px;
    height: 40px;
    object-fit: cover; /* 保持圖片比例並填滿容器 */
    border-radius: 50%; /* 將邊框半徑設置為容器寬度的一半，從而裁剪圖片成圓形 */
}

.SmallSizeHeadShot {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}

.EventTitle > h3 {
    color: white;
    background-color: #206896;
}

.EventNav {
    height: 3rem;
    background-color: #dff2f9;
}

.EventPostSection {
    background-color: #f5f5f5;
}

.EventPost{
    height: 20rem;
}

.EventPostImgPart{
    height:15rem;
    overflow:hidden;
}

.EventPostImgPart img{
    object-fit: cover;
}